/*========= Navbar =========*/

#navbar {
    background-color: #202020;
    transition: 0.5s;
}

#navbar .navbar-toggler {
    outline: none !important;
}

/*========= Header =========*/

.btn-more {
    border: 2px solid #fff;
    color: white;
    border-radius: 0;
    width: 200px;
    height: 45px;
    position: relative;
}

.btn-more img {
    position: absolute;
    top: 13px;
    right: -50px;
}

.btn-more:hover {
    background-color: #fff;
    color: #000;
    transition: 0.5s ease-in-out;
}


.display-1 {
    font-size: 250px !important;
}

.header-padding {
    padding-top: 250px !important;
    padding-bottom: 200px !important;
}

.paragraph-header {
    font-style: normal;
    font-weight: bold !important;
    font-size: 50px !important;
    line-height: 74px !important;
}

/*========= About =========*/
#about {
    width: 100%;
    background-image: url('../assets/about.png');
    -webkit-background-size: cover;
    background-size: cover;
    box-sizing: border-box;
    /*background-repeat: no-repeat;*/
}

.aboutCity, .aboutConvert {
    width: 194px !important;
    height: 184px !important;
}

.aboutCity {
    position: absolute;
    top: 0;
    left: 0;
}

.aboutConvert {
    position: absolute;
    top: 103px;
    left: 102px;
}

.about-text {
    font-weight: bold;
    line-height: 147px;
    color: white;
    box-sizing: border-box;
    border: 2px solid white;
    padding: 42px 55px;
    width: 100%;
}

.about-text > * {
    font-size: 30px;
}

.about-who {
    font-weight: bold;
    font-size: 100px;
    line-height: 147px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.prefName {
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
}









